@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

$green: #60d17e
$light-green: #abffc1
$white: #fff
$box-shadow: 0 2px 14px 0 rgba(0, 0, 0, .2)
$transition: all 200ms ease

@mixin container
  width: 80%
  max-width: 1000px
  margin: 0 auto

@mixin flex
  display: flex

@mixin bold
  font-weight: 600